<div class="matomerukun">
    <div class="hyouji" id="hyouji">
    <h1>運転サポートモードOFF</h1>
    </div>
    <div class="onoff" id="onoff">
    <button id="tenkibutton" type="button" class="btn btn-primary">ONにする</button>
</div>
</div>
<p>GPSが内蔵されていないコンピュータの場合、かなりずれが生じるケースがあります。本サービスはGPS以外でもWifi、IPアドレスなども使って位置情報を取得しますので精度はそれぞれの技術で異なります。スマートフォンの場合でも精度はそれぞれ異なりますのであくまで目安としてご利用ください。</p>
<div class="jisoku" id="jisoku">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2>現在時速 -- km(目安)</h2>
    </div>
</div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
 <div id="map" class="map"></div>
<style>
    .matomerukun{
        display: flex;
    }
    .onoff{
        margin-left: 1cm;
    }
    .jisoku{
        margin-top: 1cm;
    }
    .map{
        height: 400px;
    }
</style>
<%= javascript_include_tag "driver.js" %>