<div class="matomerukun">
    <div class="hyouji" id="hyouji">
    <h1>運転サポートモードOFF</h1>
    </div>
    <div class="onoff" id="onoff">
    <button id="tenkibutton" type="button" class="btn btn-primary">ONにする</button>
</div>
</div>
<div class="jisoku" id="jisoku">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2>現在時速 -- km(目安)</h2>
    </div>
</div>
<style>
    .matomerukun{
        display: flex;
    }
    .onoff{
        margin-left: 1cm;
    }
    .jisoku{
        margin-top: 1cm;
    }
</style>
<%= javascript_include_tag "driver.js" %>