<h1>Yo-gututoSEKKENは高齢のドライバーの方のための運転支援アプリケーションです</h1>
<p>Yo-gurutoSEKKENは昨今社会的課題となっている交通事故問題を解決する一つの手法として開発されました</p>
<%= link_to 'SIGN UP NOW!', signup_path, class: 'btn btn-lg btn-primary' %>
<img></img>
<p>Yo-gurutoSEKKENの主な機能</p>
<div class="ichi">
    <p>機能①</p>
    <p>急激な速度上昇・速度超過を検知した場合は大きなアラートと警告画面で警告を行います</p>
</div>
<div class="nii">
    <p>機能②</p>
    <p>天気情報に基づき、路面状況等において注意が必要な場合は音声案内を行います</p>
</div>
<div class="sann">
    <p>機能③</p>
    <p>本アプリが行った警告はログとして残りますのでご家族の方などもチェックできます</p>
</div>
<div class="yonn">
    <p>機能④</p>
    <p>Coming soon...</p>
</div>