<div class="zentai">
    <footer class="mb-4">
    <div class="sitanohou">
        <div class="mx-auto" style="width: 400px;">
            <div class="main">
                <p>©︎2021 Rintaro Kobayashi</p>
            </div>
            <div class="main">
                <button onclick="location.href='https://github.com/K-Rintaro'"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt=""></button>   
            </div>
        </div>
    </div>
</footer>
</div>